@model Search.Core.Windows.Models.Query

<!-- pager -->
@if (Model?.SearchResults?.Pager?.EndPage > 1)
{
    <ul class="pagination pager">
        @if (Model.SearchResults.Pager.CurrentPage > 1)
        {
            <li>
                <a href="~/Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)&aggregations=@(Model.ChosenAggregations)">First</a>
            </li>
            <li>
                <a href="~/Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)&aggregations=@(Model.ChosenAggregations)&page=@(Model.SearchResults.Pager.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (var page = Model.SearchResults.Pager.StartPage; page <= Model.SearchResults.Pager.EndPage; page++)
        {
            <li class="@(page == Model.SearchResults.Pager.CurrentPage ? "active" : "")">
                <a href="~/Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)&aggregations=@(Model.ChosenAggregations)&page=@page">@page</a>
            </li>
        }

        @if (Model.SearchResults.Pager.CurrentPage < Model.SearchResults.Pager.TotalPages)
        {
            <li>
                <a href="~/Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)&aggregations=@(Model.ChosenAggregations)&page=@(Model.SearchResults.Pager.CurrentPage + 1)">Next</a>
            </li>
            <li>
                <a href="~/Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)&aggregations=@(Model.ChosenAggregations)&page=@(Model.SearchResults.Pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
}
