@base: rgb(255, 255, 255);
@background: spin(@base, 180);
@lighter: lighten(spin(@base, 5), 10%);
@lighter2: lighten(spin(@base, 10), 20%);
@darker: darken(spin(@base, -5), 10%);
@darker2: darken(spin(@base, -10), 20%);

body {
  background-color:@background;
  background-image:url(../wwwroot/images/gsa-universal.png)
}
.baseColor  {color:@base}
.bgLight    {color:@lighter}
.bgLight2   {color:@lighter2}
.bgDark     {color:@darker}
.bgDark2    {color:@darker2}

.chosen-container {
    margin: 10px;
    max-width: 65%;
    //padding-left:3em;
}
button.findBtn {
    margin-top: 10px;
    margin-left: 5px;
    height:34px;
    //max-width: 70%;
    //margin-left: 1px;
    //border-radius:5px; 
}
.searchbox{
    margin-top: 10px;
    float: left; 
    max-width: 70%;
    min-width: 50%;
    /*min-width: 200px;
    color: rgb(0, 0, 0);*/
    border-radius:5px; 
    /*background-color: transparent;resize:both;*/
}

#googleMap {
    width:100%;
    height:500px;
}
#findBtn {
  margin-top: 10px;
}

.gm-style-iw{
    max-width: 200px;
    max-hight: 400px;
}


.search-item {
    margin-top: 2px;
    border-left: solid 8px rgba(255, 255, 255, 0.00);
    padding-top: 3px;
    padding-left: 0px;
    /*border-top: ridge 0px;
    border-bottom: ridge 1px;*/
}

.modal-dialog {
    min-height: 300px;
    max-height: 500px;
    min-width: 30%; 
    max-width: 95%; 
}

.search-item:hover {
    border-left: solid 8px #CF8346;
    padding-left: 0px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

//collection of styles for file types
@types: DOC, XLS, PPT, MSG, PDF, JPG;
@type_colors: black, white,  white, white, black, white;
@type_bgcolors: aqua, green,  orange, blue, red, #79097e;

.filetypeclasses(@iterator:1) when(@iterator <= length(@types)) {
    @name: extract(extract(@types, @iterator),1);
    .@{name} {
        width: 35px;
        font-weight: bold;
        color: extract(@type_colors, @iterator);
        background-color: extract(@type_bgcolors, @iterator);
    }
    .filetypeclasses((@iterator + 1));
}
.filetypeclasses();

//some direct styles. TB converted to LESS later
.sidebar {
    position: absolute;
    /*float:left;
    overflow: auto;*/
}

.file-image {
    /*width: 100%;
    height: 100%;*/
    max-width:200px;
    max-height:200px;
}

ul.ulllist{
    list-style:none;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 300px;
	transform-style: preserve-3d;
    /*border:dotted;
    border-color:gray;*/
}

/*  UPDATED! flip the pane when hovered */
.flip-container:hover .back {
	transform: rotateY(0deg);
}
.flip-container:hover .front {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
    float: left;
	width: 300px;
	height: 150px;
    margin: 10px;
    cursor: pointer;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
    background-color: antiquewhite;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
    background-color: rgba(50,50,50,0.1);
}

/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
	transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
	transform: rotateX(180deg);
}



//slider styles
@track-color: #424242;
@thumb-color: #555bc8;

@thumb-radius: 8px;
@thumb-height: 30px;
@thumb-width: 30px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: #111;
@thumb-border-width: 1px;
@thumb-border-color: white;

@track-width: 100%;
@track-height: 10px;
@track-shadow-size: 2px;
@track-shadow-blur: 2px;
@track-shadow-color: #222;
@track-border-width: 1px;
@track-border-color: black;

@track-radius: 5px;
@contrast: 5%;

.shadow(@shadow-size,@shadow-blur,@shadow-color) {
  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }
  
  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track(); 
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
}